@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

p {
  font-family: "Libre Franklin", sans-serif;
}

html {
  background: #F5FFFD;
}

html.dark {
  background: #16242f;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.neumorphic-shadow {
  box-shadow:  12px 12px 24px rgba(0, 0, 0,0.25),
             -12px -12px 24px rgba(255, 255, 255,0.03);
}

:root {
  --primary-300: #76dfc7;
  --primary-500: #5CCBB2;
  --primary-700: #47706d;
  --secondary-300: #91deeb;
  --secondary-500: #8AD3DF;
  --secondary-700: #69B8C6;
  --accent-300: #f0abf9;
  --accent-500: #e791d9;
  --accent-700: #CE71BF;
  --background-200: #5A7DB1;
  --background-300: #435C81;
  --background-500: #293f51;
  --background-700: #16242f;
  --background-900: #15212c;
}